/* ****************************  LAYOUT E PROGRAMAÇÃO DESENVOLVIDO POR GAIA PROGRAMAÇÃO E DESIGN */


* {
    margin: 0;
    padding: 0;
}

:root {
    --azul-princial: #000086;
    --branco-fundo: #ffffff;
    --cinza-principal: #5B5A5E;
    --fonte-princiapl: "League Spartan", sans-serif;
}


/* TODO ================ MOBILE / 490 PX ================================ */
/* TODO ================================================================= */

@media screen and (max-width: 490px) {
    body {
        font-family: var(--fonte-princiapl);
        overflow-x: hidden;
    }
    a:any-link {
        text-decoration: none;
    }
    
    .header_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background: var(--azul-princial);
        margin: 4px 0;
        transition: all 0.3s ease;
        
    }

    /* Estilos para quando o menu estiver aberto */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /* Estilos para o menu */
    .menu {
        display: none;
        position: relative;
        top: 74px;
        
        left: 0;
        background: var(--cinza-principal);
        width: 100vw;
        
    }

    .menu.active {
        display: block;
    }

    .menu a {
        color: var(--azul-princial);
    }
    ul{
        list-style: none;
        
    }

    /* ============================= CONTAINER CARROSSEL - INCLUI O TEXTO ===================== */
    .container_carrossel_mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        
    }
    .carrossel_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .kza_title {
        color: var(--azul-princial);
        font-weight: 700;
        font-size: 34px;
        width: 80vw;
        
        
    }
    .kza_title strong {
        color: var(--cinza-principal);
        
    }
    .kza_subtitle {
        font-size: 24px;
        font-weight: 300;
        padding-top: 1rem;
        width: 60vw;
    }

    .btn_faleconosco {
        background-color: var(--azul-princial);
        color: var(--branco-fundo);
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 2rem;
        column-gap: 0.5rem;
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        justify-content: center;
    }
    .barra-lateral-esquerda {
        background-color: var(--azul-princial); /* Substitua pela sua cor azul */
        height: 172px; /* Ajuste a altura conforme necessário */
        width: 20px; /* Ajuste a largura conforme necessário */
        position: absolute;
        left: 0;
        top: 74px;
        z-index: -9999;
    } 
    .barra-cinza {
        background-color: var(--cinza-principal); /* Substitua pela sua cor cinza */
        height: 60px;
        width: 10px;
        position: absolute;
        top: 246px;
        z-index: -1; /* Posiciona atrás do conteúdo */
    }


    .swiper {
        margin-top: 2rem;
        width: 90vw;
    }
    .divisoria_azul {
        width: 100vw;
        height: 76px;
        background-color: var(--azul-princial);
        margin-top: 3rem;
        display: flex;
        align-items: center;

    }
    .faixa_cinza {
        width: 10px;
        height: 128px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        margin-left: 1.5rem;
    }

    /* =============================CONTAINER SERVIÇOS TIPOS ========================= */
    .container_servicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .container_servicos_tipos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .tipos_lista {
        display: flex;
        flex-direction: column;
        width: 100vw;
        font-size: 30px;
        font-weight: 500;
        color: var(--azul-princial);
        list-style: var(--azul-princial);
        list-style-type: disc;
        align-items: center;
        padding-top: 2.5rem;
        row-gap: 0.5rem;
        
    }
    .servicos_imagem {
        width: 90vw;
        margin-top: -20px;
        z-index: -999;
    }
    .servicos_exemplos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        row-gap: 1rem;
    }
    .servicos_exemplos img {
        max-width: 100vw;
    }
    .exemplo_barra {
        width: 10px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        height: 100px;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: 2rem;
        z-index: 9999;
    }
    .servicos_vantagens {
        background-color: var(--azul-princial);
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;


    }
    .vantagem_1 {
        display: flex;
        color: var(--branco-fundo);
        column-gap: 1rem;
        padding: 0.5rem 0;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        
    }
    
    .servicos_vantagens img {
        width: 24px;
    }

    /* ==========================CONTAINER EMPRESA DIFERENCIAL    */

    .container_empresa {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .empresa_diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .diferencial_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .diferencial_title {
        font-size: 34px;
        font-weight: 500;
        font-family: var(--fonte-princiapl);
        color: var(--azul-princial);
        width: 80vw;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .diferencial_title strong {
        color: var(--cinza-principal);
    }
    .diferencial_txt {
        font-size: 24px;
        color: var(--cinza-principal);
        
    }
    .empresa_diferencial img {
        width: 90vw;
    }
    .barra_instagram {
        background-color: var(--azul-princial);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        column-gap: 2rem;
    }
    .barra_instagram p {
        font-size: 21px;
        font-weight: 400;
        color: var(--branco-fundo);

    }
    .barra_instagram img {
        width: 50px;
    }
    /* =============================   ITENS OCULTOS ========================= */
    .header_wide {
        display: none;
    }
    .menu_wide {
        display: none;
    }
    
}

/* TODO ======== MOBILE / 491 PX  ATÉ 768PX ============================== */
/* TODO ================================================================= */

@media only screen and (min-width: 491px) and (max-width: 768px) {
    body {
        font-family: var(--fonte-princiapl);
        overflow-x:hidden;
    }
    a:any-link {
        text-decoration: none;
    }
    
    .header_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background: var(--azul-princial);
        margin: 4px 0;
        transition: all 0.3s ease;
        
    }

    /* Estilos para quando o menu estiver aberto */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /* Estilos para o menu */
    .menu {
        display: none;
        position: relative;
        top: 74px;
        
        left: 0;
        background: var(--cinza-principal);
        width: 100vw;
        
    }

    .menu.active {
        display: block;
    }

    .menu a {
        color: var(--azul-princial);
    }
    ul{
        list-style: none;
        
    }
    /* ============================= CONTAINER CARROSSEL - INCLUI O TEXTO ===================== */
    .container_carrossel_mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        
    }
    .carrossel_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .kza_title {
        color: var(--azul-princial);
        font-weight: 700;
        font-size: 36px;
        width: 80vw;
        
        
    }
    .kza_title strong {
        color: var(--cinza-principal);
        
    }
    .kza_subtitle {
        font-size: 26px;
        font-weight: 300;
        padding-top: 1rem;
        width: 60vw;
    }

    .btn_faleconosco {
        background-color: var(--azul-princial);
        color: var(--branco-fundo);
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 2rem;
        column-gap: 0.5rem;
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        justify-content: center;
    }
    .barra-lateral-esquerda {
        background-color: var(--azul-princial); /* Substitua pela sua cor azul */
        height: 172px; /* Ajuste a altura conforme necessário */
        width: 20px; /* Ajuste a largura conforme necessário */
        position: absolute;
        left: 0;
        top: 74px;
        z-index: -9999;
    } 
    .barra-cinza {
        background-color: var(--cinza-principal); /* Substitua pela sua cor cinza */
        height: 60px;
        width: 10px;
        position: absolute;
        top: 246px;
        z-index: -1; /* Posiciona atrás do conteúdo */
    }
    .swiper {
        margin-top: 2rem;
        width: 90vw;
    }

    .divisoria_azul {
        width: 100vw;
        height: 86px;
        background-color: var(--azul-princial);
        margin-top: 4rem;
        display: flex;
        align-items: center;

    }
    .faixa_cinza {
        width: 18px;
        height: 158px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        margin-left: 1.5rem;
    }
    
    /* =============================CONTAINER SERVIÇOS TIPOS ========================= */
    .container_servicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .container_servicos_tipos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .tipos_lista {
        display: flex;
        flex-direction: column;
        width: 100vw;
        font-size: 30px;
        font-weight: 500;
        color: var(--azul-princial);
        list-style: var(--azul-princial);
        list-style-type: disc;
        align-items: center;
        padding-top: 2.5rem;
        row-gap: 0.5rem;
        
    }
    .servicos_imagem {
        width: 90vw;
        margin-top: -20px;
        z-index: -999;
    }
    .servicos_exemplos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        row-gap: 1rem;
    }
    .servicos_exemplos img {
        max-width: 100vw;
    }
    .exemplo_barra {
        width: 10px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        height: 100px;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: 2rem;
        z-index: 9999;
    }
    .servicos_vantagens {
        background-color: var(--azul-princial);
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        row-gap: 1rem;


    }
    .vantagem_1 {
        display: flex;
        color: var(--branco-fundo);
        column-gap: 1rem;
        padding: 0.5rem 0;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        justify-content: center;
    }
    .servicos_vantagens img {
        width: 26px;
    }

    /* ==========================CONTAINER EMPRESA DIFERENCIAL    */

    .container_empresa {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .empresa_diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .diferencial_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .diferencial_title {
        font-size: 36px;
        font-weight: 500;
        font-family: var(--fonte-princiapl);
        color: var(--azul-princial);
        width: 50vw;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .diferencial_title strong {
        color: var(--cinza-principal);
    }
    .diferencial_txt {
        font-size: 26px;
        color: var(--cinza-principal);
        
    }
    .empresa_diferencial img {
        width: 90vw;
    }
    .barra_instagram {
        background-color: var(--azul-princial);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        column-gap: 2rem;
        cursor: grab;
    }
    .barra_instagram p {
        font-size: 21px;
        font-weight: 400;
        color: var(--branco-fundo);

    }
    .barra_instagram img {
        width: 50px;
    }
    /* =============================   ITENS OCULTOS ========================= */
    .header_wide {
        display: none;
    }
    .menu_wide {
        display: none;
    }
}

/* TODO ======== TABLET / 769 PX  ATÉ 1023PX ============================= */
/* TODO ================================================================= */

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    body {
        font-family: var(--fonte-princiapl);
    }
    a:any-link {
        text-decoration: none;
    }
    
    .header_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background: var(--azul-princial);
        margin: 4px 0;
        transition: all 0.3s ease;
        
    }

    /* Estilos para quando o menu estiver aberto */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /* Estilos para o menu */
    .menu {
        display: none;
        position: relative;
        top: 74px;
        
        left: 0;
        background: var(--cinza-principal);
        width: 100vw;
        
    }

    .menu.active {
        display: block;
    }

    .menu a {
        color: var(--azul-princial);
    }
    ul{
        list-style: none;
        
    }
    /* ============================= CONTAINER CARROSSEL - INCLUI O TEXTO ===================== */
    .container_carrossel_mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        
    }
    .carrossel_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .kza_title {
        color: var(--azul-princial);
        font-weight: 700;
        font-size: 36px;
        width: 50vw;
        
        
    }
    .kza_title strong {
        color: var(--cinza-principal);
        
    }
    .kza_subtitle {
        font-size: 26px;
        font-weight: 300;
        padding-top: 1rem;
        width: 60vw;
    }

    .btn_faleconosco {
        background-color: var(--azul-princial);
        color: var(--branco-fundo);
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 2rem;
        column-gap: 0.5rem;
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        justify-content: center;
    }
    .barra-lateral-esquerda {
        background-color: var(--azul-princial); /* Substitua pela sua cor azul */
        height: 172px; /* Ajuste a altura conforme necessário */
        width: 20px; /* Ajuste a largura conforme necessário */
        position: absolute;
        left: 0;
        top: 74px;
        z-index: -9999;
    } 
    .barra-cinza {
        background-color: var(--cinza-principal); /* Substitua pela sua cor cinza */
        height: 60px;
        width: 10px;
        position: absolute;
        top: 246px;
        z-index: -1; /* Posiciona atrás do conteúdo */
    }


    .swiper {
        margin-top: 3rem;
        width: 80vw;
    }
    .divisoria_azul {
        width: 100vw;
        height: 96px;
        background-color: var(--azul-princial);
        margin-top: 4rem;
        display: flex;
        align-items: center;

    }
    .faixa_cinza {
        width: 18px;
        height: 138px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        margin-left: 4rem;
    }
    /* =============================CONTAINER SERVIÇOS TIPOS ========================= */
    .container_servicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .container_servicos_tipos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .tipos_lista {
        display: flex;
        flex-direction: column;
        width: 100vw;
        font-size: 30px;
        font-weight: 500;
        color: var(--azul-princial);
        list-style: var(--azul-princial);
        list-style-type: disc;
        align-items: center;
        padding-top: 2.5rem;
        row-gap: 0.5rem;
        
    }
    .servicos_imagem {
        width: 90vw;
        margin-top: -20px;
        z-index: -999;
    }
    .servicos_exemplos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        row-gap: 1rem;
    }
    .servicos_exemplos img {
        max-width: 100vw;
    }
    .exemplo_barra {
        width: 10px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        height: 100px;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: 2rem;
        z-index: 9999;
    }
    .servicos_vantagens {
        background-color: var(--azul-princial);
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        row-gap: 1rem;


    }
    .vantagem_1 {
        display: flex;
        color: var(--branco-fundo);
        column-gap: 1rem;
        padding: 0.5rem 0;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        justify-content: center;
    }
    .servicos_vantagens img {
        width: 26px;
    }
    /* ==========================CONTAINER EMPRESA DIFERENCIAL    */

    .container_empresa {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .empresa_diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .diferencial_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .diferencial_title {
        font-size: 36px;
        font-weight: 500;
        font-family: var(--fonte-princiapl);
        color: var(--azul-princial);
        width: 50vw;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .diferencial_title strong {
        color: var(--cinza-principal);
    }
    .diferencial_txt {
        font-size: 26px;
        color: var(--cinza-principal);
        
    }
    .empresa_diferencial img {
        width: 90vw;
    }
    .barra_instagram {
        background-color: var(--azul-princial);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        column-gap: 2rem;
        cursor: grab;
    }
    .barra_instagram p {
        font-size: 21px;
        font-weight: 400;
        color: var(--branco-fundo);

    }
    .barra_instagram img {
        width: 50px;
    }
    /* =============================   ITENS OCULTOS ========================= */
    .header_wide {
        display: none;
    }
    .menu_wide {
        display: none;
    }
}

/* TODO ======== NOTEBOOK / 1024 PX  ATÉ 1200PX ============================ */
/* TODO ================================================================= */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    body {
        font-family: var(--fonte-princiapl);
        overflow-x: hidden;
    }
    a:any-link {
        text-decoration: none;
    }
    
    .header_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background: var(--azul-princial);
        margin: 4px 0;
        transition: all 0.3s ease;
        
    }

    /* Estilos para quando o menu estiver aberto */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /* Estilos para o menu */
    .menu {
        display: none;
        position: relative;
        top: 74px;
        
        left: 0;
        background: var(--cinza-principal);
        width: 100vw;
        
    }

    .menu.active {
        display: block;
    }

    .menu a {
        color: var(--azul-princial);
    }
    ul{
        list-style: none;
        
    }


    /* ============================= CONTAINER CARROSSEL - INCLUI O TEXTO ===================== */
    .container_carrossel_mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        
    }
    .carrossel_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .kza_title {
        color: var(--azul-princial);
        font-weight: 700;
        font-size: 42px;
        width: 50vw;
        
        
    }
    .kza_title strong {
        color: var(--cinza-principal);
        
    }
    .kza_subtitle {
        font-size: 32px;
        font-weight: 300;
        padding-top: 1rem;
        width: 60vw;
    }

    .btn_faleconosco {
        background-color: var(--azul-princial);
        color: var(--branco-fundo);
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 2rem;
        column-gap: 0.5rem;
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        justify-content: center;
    }
    .barra-lateral-esquerda {
        background-color: var(--azul-princial); /* Substitua pela sua cor azul */
        height: 172px; /* Ajuste a altura conforme necessário */
        width: 20px; /* Ajuste a largura conforme necessário */
        position: absolute;
        left: 0;
        top: 74px;
        z-index: -9999;
    } 
    .barra-cinza {
        background-color: var(--cinza-principal); /* Substitua pela sua cor cinza */
        height: 60px;
        width: 10px;
        position: absolute;
        top: 246px;
        z-index: -1; /* Posiciona atrás do conteúdo */
    }


    .swiper {
        margin-top: 3rem;
        width: 70vw;
    }

    .divisoria_azul {
        width: 100vw;
        height: 86px;
        background-color: var(--azul-princial);
        margin-top: 4rem;
        display: flex;
        align-items: center;

    }
    .faixa_cinza {
        width: 18px;
        height: 168px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        margin-left: 3rem;
    }
    /* =============================CONTAINER SERVIÇOS TIPOS ========================= */
    .container_servicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .container_servicos_tipos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .tipos_lista {
        display: flex;
        flex-direction: column;
        width: 100vw;
        font-size: 36px;
        font-weight: 500;
        color: var(--azul-princial);
        list-style: var(--azul-princial);
        list-style-type: disc;
        align-items: center;
        padding-top: 2.5rem;
        row-gap: 1.5rem;
        
    }
    .servicos_imagem {
        width: 90vw;
        margin-top: -50px;
        z-index: -999;
    }
    .servicos_exemplos {
        display: flex;
        flex-direction: column;
        width: 100vw;
        row-gap: 1rem;
    }
    .servicos_exemplos img {
        max-width: 100vw;
    }
    .exemplo_barra {
        width: 10px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        height: 100px;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: 2rem;
        z-index: 9999;
    }
    .servicos_vantagens {
        background-color: var(--azul-princial);
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        row-gap: 1rem;


    }
    .vantagem_1 {
        display: flex;
        color: var(--branco-fundo);
        column-gap: 1rem;
        padding: 0.5rem 0;
        align-items: center;
        font-size: 28px;
        font-weight: 500;
        justify-content: center;
    }
    .servicos_vantagens img {
        width: 35px;
    }
    /* ==========================CONTAINER EMPRESA DIFERENCIAL    */

    .container_empresa {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .empresa_diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .diferencial_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .diferencial_title {
        font-size: 38px;
        font-weight: 500;
        font-family: var(--fonte-princiapl);
        color: var(--azul-princial);
        width: 40vw;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .diferencial_title strong {
        color: var(--cinza-principal);
    }
    .diferencial_txt {
        font-size: 28px;
        color: var(--cinza-principal);
        
    }
    .empresa_diferencial img {
        width: 90vw;
    }
    .barra_instagram {
        background-color: var(--azul-princial);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        column-gap: 2rem;
        cursor: grab;
    }
    .barra_instagram p {
        font-size: 21px;
        font-weight: 400;
        color: var(--branco-fundo);

    }
    .barra_instagram img {
        width: 50px;
    }
    /* =============================   ITENS OCULTOS ========================= */
    .header_wide {
        display: none;
    }
    .menu_wide {
        display: none;
    }
}


/* TODO ======== DESKTOP / MIN 1201PX  ============================ */
/* TODO ================================================================= */
@media screen and (min-width: 1201px) {
    
    body{
        font-family: var(--fonte-princiapl);
        overflow-x: hidden;
    }
    a:any-link{
        text-decoration: none;
    }
    .header_wide {
        display: flex;
        width: 100vw;
        height: 50px;
        align-items: center;
        font-size: 16px;
        background-color: #cccccc;
        
        

    }
    .header_contato {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        max-width: 100vw;
        column-gap: 0.5rem;
    }
    .header_contato_contato {
        color: var(--azul-princial);
        font-weight: 600;
        font-size: 16px;
    }
    .header_contato a{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        color: var(--azul-princial);
        
    }
    .link_zap_1 {
        border-right: 1px solid var(--azul-princial);
        padding-right: 1rem;
    }
    .link_insta {
        padding-left: 2rem;
    }

    .menu_wide {
        display: flex;
        width: 100vw;
        margin-left: 2rem;
    }
    .boxmenu {
        display: flex;
        width: 100vw;
        padding: 2rem 6rem 1rem 3rem;
        justify-content: flex-start;
        column-gap: 5rem;
    }
    .boxmenu a{
        font-size: 24px;
        color: var(--cinza-principal);
        font-weight: 400;
    }
    .container_carrossel_mobile {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 3rem;
        margin-top: 2rem;
        column-gap: 3rem;
    }
    .swiper {
        width: 55vw;
        
    }
    .carrossel_texto {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: center;
        width: 45vw;
    }
    .kza_title {
        color: var(--azul-princial);
        font-weight: 700;
        font-size: 38px;
        width: 40vw;
        text-align: left;
        padding-right: 2rem;
        
        
    }
    .kza_title strong {
        color: var(--cinza-principal);
        
    }
    .kza_subtitle {
        font-size: 26px;
        font-weight: 300;
        padding-top: 1rem;
        width: 40vw;
        text-align: left;
        padding-right: 2rem;
    }

    .btn_faleconosco {
        background-color: var(--azul-princial);
        color: var(--branco-fundo);
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 2rem;
        column-gap: 0.5rem;
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        justify-content: center;
        width: 20vw;
    }
    .divisoria_azul {
        width: 100vw;
        height: 96px;
        background-color: var(--azul-princial);
        margin-top: 4rem;
        display: flex;
        align-items: center;

    }
    .faixa_cinza {
        width: 18px;
        height: 178px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        margin-left: 3rem;
    }
    
    /* =============================CONTAINER SERVIÇOS TIPOS ========================= */
    .container_servicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .container_servicos_tipos {
        display: flex;
        width: 100vw;
        align-items: center;
    }
    .tipos_lista {
        display: flex;
        flex-direction: column;
        width: 50vw;
        font-size: 38px;
        font-weight: 500;
        color: var(--azul-princial);
        list-style: var(--azul-princial);
        list-style-type: disc;
        align-items: center;
        padding-top: 2.5rem;
        margin-left: 3rem;
        row-gap: 0.5rem;
        
        
        
    }
    .servicos_imagem {
        width: 60vw;
        
        
    }
    .servicos_exemplos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        row-gap: 1rem;
    }
    .servicos_exemplos img {
        width: 50vw;
        
    }
    .exemplo_barra {
        width: 30px;
        background-image: linear-gradient(to right, #B9A163, #906D33);
        height: 100px;
        margin-left: -10px;
        margin-right: -10px;
        
        
        z-index: 9999;
    }
    .servicos_vantagens {
        background-color: var(--azul-princial);
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        row-gap: 1rem;


    }
    .vantagem_1 {
        display: flex;
        flex-direction: column;
        color: var(--branco-fundo);
        row-gap: 2rem;
        padding: 0.5rem 0;
        align-items: center;
        font-size: 34px;
        font-weight: 500;
        justify-content: center;
        width: 22vw;
        text-align: center;
    }
    .servicos_vantagens img {
        width: 100px;
    }
    /* ==========================CONTAINER EMPRESA DIFERENCIAL    */

    .container_empresa {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .empresa_diferencial {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .diferencial_txt {
        display: flex;
        flex-direction: column;
        align-items: left;
        row-gap: 1rem;
        width: 50vw;
        padding-left: 6rem;
        
        
    }
    .diferencial_title {
        font-size: 46px;
        font-weight: 500;
        font-family: var(--fonte-princiapl);
        color: var(--azul-princial);
        width: 40vw;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .diferencial_title strong {
        color: var(--cinza-principal);
    }
    .diferencial_txt {
        font-size: 32px;
        color: var(--cinza-principal);
        margin-bottom: 10rem;
    }
    .empresa_diferencial img {
        width: 50vw;
    }
    .barra_instagram {
        background-color: var(--azul-princial);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        column-gap: 2rem;
        cursor: grab;
    }
    .barra_instagram p {
        font-size: 32px;
        font-weight: 400;
        color: var(--branco-fundo);

    }
    .barra_instagram img {
        width: 100px;
    }
    /* =============================   ITENS OCULTOS ========================= */
    .header_mobile {
        display: none;
    }
}